# IDE/build files
.clwb
.idea
bazel-*

# Arduino user-specific sym-links
arduino/*
!arduino/BUILD

# Compiled sketches
src/*/build

# Python cache
__pycache__
*.pyc

# System files
.DS_Store
Thumbs.db

# Keep files
!.gitkeep
