[Unit]
Description=DOSA Renogy Bridge
After=multi-user.target

[Service]
Type=idle
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'
ExecStart=/usr/bin/python -u /home/pi/dosa/tools/dosa-renogy.py -m 60:98:66:db:50:c5 -p 30 -l -g 800 -s /dev/ttyACM0

[Install]
WantedBy=multi-user.target
